menu "WCH Log"

config WCH_LOG_UART
    bool "Enable UART log output"
    default y

config WCH_LOG_RTT
    bool "Enable RTT log output"
    default n

config WCH_LOG_CDC
    bool "Enable USB CDC log output"
    default n

config WCH_LOG_COLORS
    bool "Enable ANSI log colors"
    default y

choice WCH_LOG_LEVEL_CHOICE
    prompt "Log level"
    default WCH_LOG_LEVEL_DEBUG
    help
      Select log level

config WCH_LOG_LEVEL_NONE
    bool "None"

config WCH_LOG_LEVEL_ERROR
    bool "Error"

config WCH_LOG_LEVEL_WARN
    bool "Warn"

config WCH_LOG_LEVEL_INFO
    bool "Info"

config WCH_LOG_LEVEL_DEBUG
    bool "Debug"

config WCH_LOG_LEVEL_VERBOSE
    bool "Verbose"

endchoice

endmenu
