choice SOC_CHOICE
    prompt "Target SoC"
    default SOC_CH58X

config SOC_CH58X
    bool "CH58x"

config SOC_CH59X
    bool "CH59x"

endchoice

choice BOARD_CHOICE
    prompt "Target Board"
    default BOARD_CH58X_EVB

config BOARD_CH58X_EVB
    bool "CH58x EVB"
    depends on SOC_CH58X

config BOARD_CH59X_EVB
    bool "CH59x EVB"
    depends on SOC_CH59X

config BOARD_CUSTOM
    bool "Custom board (defined by project)"
    depends on SOC_CH58X || SOC_CH59X

endchoice

rsource "soc_ch58x/Kconfig"
rsource "soc_ch59x/Kconfig"

menu "Component Configuration"

rsource "wch_log/Kconfig"
rsource "rtos/Kconfig"

endmenu